@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
   
    background-color: green;
}
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 100px;
}

.container h1 {
    margin-bottom: 20px;
}

.container .form-box p {
    margin-top: 20px;
}

.form-box {
    
    text-align: center;
    background-color: #fff;
    border: 2 px solid;
    border-radius: 5px;
    padding: 90px 45px;
}

.form-box .input-box {
    margin: 15px 0;
   
}

.form-box .input-box input {
    background-color: #f1f1f1;
    height: 25px;
    width: 100%;
}

.button-box button {
    cursor: pointer;
    background-color: green;
    padding: 5px 20px;
    border-radius: 5px;
}

button:hover {
    background-color: aquamarine;
}